<% if @occurrences.fetch(:today).present? %>
  <div class="row medGrey container">
    <h4>Today</h4>
  </div>
  <% @occurrences.fetch(:today).each do |occurrence| %>
    <%= render 'each_event', event: occurrence.event, occurrence: occurrence %>
  <% end %>
<% end %>

<% if @occurrences.fetch(:tomorrow).present? %>
  <div class="row medGrey container">
    <h4>Tomorrow</h4>
  </div>
  
  <% @occurrences.fetch(:tomorrow).each do |occurrence| %>
    <%= render 'each_event', event: occurrence.event, occurrence: occurrence %>
  <% end %>
<% end %>

<% if @occurrences.fetch(:upcoming).present? %>
  <div class="row medGrey container">
    <h4>Later this week</h4>
  </div>
  
  <% @occurrences.fetch(:upcoming).each do |occurrence| %>
    <%= render 'each_event', event: occurrence.event, occurrence: occurrence %>
  <% end %>
<% end %>

<% unless @occurrences.fetch(:today).present? || @occurrences.fetch(:tomorrow).present? || @occurrences.fetch(:upcoming).present? %>
  <div class="row">
    <div class="event-div">
      <div class="event-empty">
        <h4>
          Looks like there's nothing going on around here.
        </h4>
        <p>
          Try another category. There's bound to be something to do!
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="event-missing">
    <h4>Something missing?</h4>
    <p>
      <%= link_to "Get in touch", "http://www.twitter.com/hereNowVictoria", :target => "_blank" %> to let me know what you'd like to see.
    </p>
  </div>
</div>