	<div class="jumbotron">
		<h1>What'll you do now?
		<span class="text-muted">It's all here.</span></h1>
		<p class="lead">
			eKite connects you to all the things to do and places to see around you. Sign up for an account to track your favourites and get recommendations or start browsing below.
		</p>
		<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
		<p><small><em>Beta version launches soon!</em></small>
		</p>
	</div>