	<div class="jumbotron">
		<h1>What do you wanna do now? <small>It's all here.</small></h1>
		<p>
			eKite connects you to all the things to do and places to see around you.
		</p>
		<br/>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		<p><br/><small><em>Beta version launches soon!</em></small>
		</p>
	</div>