<!--<li>
		<% # form_tag root_path do %>
		<div class="navbar-form">
			<% # text_field_tag :city, params[:city], :class => "form-control auto-width", :placeholder => "#{session[:city]}: Change City" %>
		</div>
	<% # end %>
</li>-->
<%= link_to new_event_path do %>
	<li>Add Event</li>
<% end %>
<%= link_to new_venue_path do %>
	<li>Add Venue</li>
<% end %>
<%= link_to list_path do %>
	<li>Manage Events</li>
<% end %>
<%= link_to venues_path do %>
	<li>Manage Venues</li>
<% end %>