</div> <!-- close container -->
<div class="jumbotron">
	<div class="container">
		<h1>Wherever, whenever.</h1>
		<p>eKite connects you to all the things to do and all the places to see around town.</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Wow. Much to do. Very Victoria.</h3>
			<p>
				Living in Victoria is rad. There's a buzzing music scene, a vibrant arts community, barrels of delicious craft beers, random festivals hidden throughout the city, and nearly everything in walking distance. eKite puts it all in one place so you know what's up.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>All-knowing. Ultra-cool.</h3>
			<p>
				It's near-impossible to keep track of everything going on. And a total bummer hearing you missed out on the best thing ever, yesterday. eKite is your bud, your bestie, your unpretentious hipster friend who keeps you in the loop.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>Find what you like, quick.</h3>
			<p>
				Planning is the pits. No one wants to waste time trying to make something happen. Lets skip all that boring stuff and get straight to the good times. eKite keeps you fresh and spontaneous, while only showing you what you're into&mdash;whatever that may be.
			</p>
		</div>
	</div>
</div>
<div class="top-pad lightGrey">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h4>What it's really all about.</h4>
				<p>
					Rather than spend the night watching a movie with her over-cuddly cat, my girlfriend and I wanted to find something cool to do. It was the weekend, how hard could it be to find entertainment? Answer: we watched a movie.
				</p>
				<p>
					During the following week<sup><%= link_to "1", "#notes" %></sup> I built eKite so we could find something fun to do on the weekend. We heard about the best thing ever and had the best time ever<sup><%= link_to "2", "#notes" %></sup> and lived happily ever after<sup><%= link_to "3", "#notes" %></sup>. The end.
				</p>
				<p id="notes"><small>
					1: Not actual timeline.
					2: Fun forever.
					3: Broke up.
				</small></p>
			</div>
			<div class="col-sm-4">
				<h4>Team Beta.</h4>
				<p>
					Let's make eKite the very best, like no one ever was. I'm working on enhancements and new features daily, but I need to hear from you! <%= link_to "Tell me", feedback_path %> your fav parts, any improvements you need, and what you'd like to see next.
				</p>
			</div>
		</div>
	</div>
</div>