</div>
<div class="jumbotron">
	<div class="container">
		<h1>
			It's all here.
		</h1>
		<p>
			eKite connects you to all the things to do and places to see around you.
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>
				Wow. Much to do. Very Victoria.
			</h3>
			<p>
				Living in Victoria is rad. There's a buzzing music scene, a vibrant arts community, barrels of delicious craft beers, random festivals hidden throughout the city, and nearly everything in walking distance. eKite lets you know what's around.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>
				All-knowing. Ultra-cool.
			</h3>
			<p>
				We all want to have fun, but sometimes it's impossible to find out what's up. Even worse is when you find out you missed out on the best thing ever, yesterday. eKite is your bud, your BFF, your unpretentious hipster friend who keeps you in the loop.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>
				Find what you like, quick.
			</h3>
			<p>
				Planning is the pits. No one wants to waste time trying to make something happen. We'd rather skip all that boring stuff and get to the fun. eKite keeps you fresh and spontaneous, while only showing you what you're into&mdash;whatever that may be.
			</p>
		</div>
	</div>
</div>