</div> <!-- close container -->
<div class="jumbotron red">
	<div class="container">
		<h1>New things are new.</h1>
	</div>
</div>
<div class="container">
		<div class="blog-post">
		<h3>New categories on the way = even more to do.</h3>
		<p class="blog-date">February 19, 2014</p>
		<p>We've got your nightlife covered in Victoria, but we want it smothered in thick, tasty, activity-orientated gravy. (Does that make sense?) Anyway, we want everything that's happening in Victoria listed on hereNow.</p> 
		<p>It takes time to gather content and add the information so we'll be creating additional categories one at a time. Eventually you'll find things like local games and trivia, the cheapest places to drink, daily food specials, local shopping sales, workshops and classes, sporting events, and more.</p>
		<p>So, what would you like to see next? It could be any of the categories I just mentioned or something else that <em>desperately</em> needs to be added. Tweet me at <%= link_to "@hereNowVictoria", "http://www.twitter.com/hereNowVictoria", :target => "_blank" %> to let me know!</p>
	</div>
	<div class="blog-post">
		<h3>And we're off!</h3>
		<p class="blog-date">December 1, 2013</p>
		<p>A year in the works, hereNow launches today! You should be able to find something cool to do in Victoria, any day, any time. There's a lot happening around, but so much goes unannounced or under-promoted. Let's fix that.</p>
		<p>Full disclosure: hereNow is a one-man operation (run by <%= link_to "Brian Holt", "http://www.brianholt.ca", :target => "_blank" %>) so I'm calling this a Beta release. I'll be improving the interface and features over time, but I'd love to hear what you wanna see. Tweet me at <%= link_to "@hereNowVictoria", "http://www.twitter.com/hereNowVictoria", :target => "_blank" %>. Use that for any problems you come across too.</p>
		<p>I'll post updates in this blog as they come, so check back periodically if you're into that sort of thing, otherwise hit the back button at the top and go out and do something fun!</p>
	</div>
</div>