</div> <!-- close container -->
<div class="jumbotron red">
	<div class="container">
		<h1>New things are new.</h1>
	</div>
</div>
<div class="container">
	<div class="blog-post">
		<h3>And we're off!</h3>
		<p class="blog-date">December 1, 2013</p>
		<p>A year in the works, hereNow launches today! You should be able to find something cool to do in Victoria, any day, any time. There's a lot happening around, but so much goes unannounced or under-promoted. Let's fix that.</p>
		<p>Full disclosure: hereNow is a one-man operation so I'm calling this a Beta release. I'll be improving the interface and features over time, but I'd love to hear what you wanna see. Tweet me at <%= link_to "@iam_herenow", "http://www.twitter.com/iam_herenow", :target => "_blank" %>. Use that for any problems you come across too.</p>
		<p>I'll post updates in this blog as they come, so check back periodically if you're into that sort of thing, otherwise hit the back button at the top and go out and do something fun!</p>
	</div>
</div>