</div> <!-- close container -->
<div class="jumbotron">
	<div class="container">
		<h1>Guidelines</h1>
		<p>Best practices</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h4>Navigation</h4>
			<ul class="faq">
				<li>Where can I find out more information for an event?</li>
				<li>Where did the favourites category go?</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Adding content</h4>
			<ul class="faq">
				<li>How do I add a venue?</li>
				<li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Adjusting settings</h4>
			<ul class="faq">
				<li>Can I resubscribe?</li>
			</ul>
		</div>
	</div>
</div>