</div> <!-- close container -->
<div class="jumbotron red">
	<div class="container">
		<h1>A little help.</h1>
	</div>
</div>
<div class="container">
	<h4>Where can I find the details for a listing?</h4>
	<p>Easy! Just tap the event title and it'll open up to display all of them. Tap the same title again or another event's title to close the details.</p>

	<h4>What happened to the favourites category?</h4>
	<p>If the event is over, or if you don't have any favourites selected, then the entire category disappears. Tap <span class="glyphicon glyphicon-heart-empty"></span> on any event to bring it back.</p>

	<h4>Why isn't there anything listed in a category?</h4>
	<p>When a category is empty that just means the events are all over and there's nothing coming up within the week.</p>
</div>