<h1>Welcome to kite</h1>
<p>
	What do you want to do now? It's all right here, <em>soon</em>.
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>