<div class="row form-header form-header-list">
	<h3 class="col-sm-8">Manage your venues</h3>
	<p class="col-sm-4"><%= link_to 'Add new venue', new_venue_path %></p>
</div>

<table class="table table-hover">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Address</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
		<% @venues.each do |venue| %>
		<% edit = edit_venue_path(venue) %>
		  <tr>
		    <td><%= link_to venue.name, edit %></td>
		    <td><%= link_to venue.address, edit %></td>
		    <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>