<div class="row">
  <div class="event-div">
    <div class="event-title">
      <h4>
        <%= @venue.name %>
      </h4>
      <p>
        <%= @venue.address %>
      </p>
    </div>
  </div>
</div>