.form-control {	width: 50%; }
.auto-width {	width: auto; }
@media (max-width: 768px) {
	.form-control {	width: 100%; }
}
.form-control-time {
  display: block;
  width: auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
}
.event-div {
  min-height: 20px;
  padding: 19px;
  border-bottom: 2px solid #e3e3e3;
}
.event-title {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 1.2em;
}
.event-details {  display: none; }