$lightRed: #FF5E6B;
$red: #FF4451; /*#1FB4DA;*/
$darkRed: #E62B38; /*#1890ae;*/
$mutedGrey: #999999;
$lightGrey: #f5f5f5;
$medGrey: #e3e3e3;
$darkGrey: #666666;
$transWhite: rgba(255, 255, 255, 0.7);

/* Application layout ==================== */
a {
  -o-transition: color .2s;
  -ms-transition: color .2s;
  -moz-transition: color .2s;
  -webkit-transition: color .2s;
  transition: color .2s;
}
footer {
  font-size: .85em;
  color: #AAA;
  text-align: center;
  margin: 0 auto;
  padding: 40px 15px 15px;
  a { color: $darkGrey; };
  ul {
    list-style: none;
    padding-left: 0;
  };
  li {
    display: inline-block;
    padding-right: 2em;
  };
  li:last-child {
    padding-right: 0;
  };
}
.auto-width {	width: auto; }
.show { display: block; }
a > span {
  display: block;
  color: $darkGrey;
  &:hover {
    color: $darkRed;
  };
}
/* Navigation =========================== */
.main-nav {
  height: 52px;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border-width: 0 0 1px;
  border-bottom: 3px solid $red;
  background-color: $transWhite;
  .lg-icon {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
    color: $darkGrey;
  };
  .lg-icon:hover,
  .lg-icon:focus {
    color: $darkRed;
    text-decoration: none;
  };
  .logo {
    float: left;
  }
  .logo:after {
    content: "Now";
    color: $red;
    font-weight: bold;
  };
  a.logo:hover {
    color: $red;
  };
  .beta {
    font-size: .85em;
    color: $mutedGrey;
  };
  a.login {
    color: $darkGrey;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  a.login:hover {
    color: $red;
  }
  .main-nav-left {
    float: left !important;
  };
  .main-nav-right {
    float: right !important;
  };
}
.main-nav-list {
  float: left;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  li {
    position: relative;
    display: inline-block;
    padding: 15px;
  };
  li > a {
    color: $darkGrey;
    line-height: 20px;
  };
  li > a:hover, li > a:focus {
    color: $darkRed;
  };
  li:last-of-type {
    margin-right: 15px;
  };
}
.menu-fade {
  height: 55px;
  width: 100%;
  position: fixed;
  margin-top: -55px;
  background: linear-gradient(
    rgba(255,255,255,.9)80%,
    rgba(255,255,255,.05));
}
/* Forms ======================================== */
@media (min-width: 768px ) {
  .form-header-list {
    p {
      margin-top: 20px;
      margin-bottom: 10px;
      line-height: 34px;
      text-align: right;
      padding-right: 20px;
    }
  }
}
.form-error { color: #b94a48; }
.form-header {
  margin-bottom: 15px;
  color: $darkRed;
}
.form-header-list {
  padding-left: 8px;
  padding-right: 8px;
}
/* Events ======================================== */
.category-row {
  a:hover {
    color: $red;
  };
}
.category-list {
  min-height: 20px;
  padding: 1.5em 19px;
  border-bottom: 2px solid $medGrey;
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  -o-transition:background-color .2s;
  -ms-transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  transition:background-color .2s;
  &:hover {
    background-color: $lightGrey;
  };
}
.event-div {
  min-height: 20px;
  padding: 10px 19px;
  border-bottom: 2px solid $medGrey;
  -o-transition:background-color .2s;
  -ms-transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  transition:background-color .2s;
  &:hover {
    background-color: $lightGrey;
  };
}
.event-title {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 1em;
  a:hover {
    color: $red;
  };
  cursor:pointer;
}
.event-details {
  display: none;
  ul {
    border-top: 1px solid $medGrey;
    list-style: none;
    margin-top: 1.5em;
    padding: 1.5em .3em 0;
    text-align: center;
  };
  li {
    display: inline-block;
    line-height: 1em;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  };
  li:first-child {
    padding-left: 0;
  };
  li:last-child {
    padding-right: 0;
  };
}
.event-missing {
  min-height: 20px;
  padding: 10px 19px;
  border-bottom: 2px solid $medGrey;
  -o-transition:background-color .2s;
  -ms-transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  transition:background-color .2s;
  &:hover {
    background-color: $lightGrey;
  };
  color: #AAA;
  font-size: .85em;
  h4 {
    font-size: 16px;
  };
}
.event-empty {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 1em;
}
.open {
  display: block;
}
/* Pages ====================================== */
.landing-banner {
  background-color: $red;
  color: #fff;
  margin-bottom: 0;
}
.top-pad {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.red {
  background-color: $red;
  color: #fff;
}
.lightGrey {
  background-color: $lightGrey;  
}
.medGrey {
  background-color: $medGrey;
}
/* Settings Page ======================================= */
.nav-list {
  list-style: none;
  font-size: 1.14em;
  font-weight: bold;
  line-height: 1em;
  padding-left: 0;
  padding-right: 0;
  margin-right: -15px;
  margin-left: -15px;
  li {
    min-height: 20px;
    padding: 1.5em 19px;
    border-bottom: 2px solid $medGrey;
    -o-transition:background-color .2s;
    -ms-transition:background-color .2s;
    -moz-transition:background-color .2s;
    -webkit-transition:background-color .2s;
    transition:background-color .2s;
    &:hover {
      background-color: $lightGrey;
    };
  };
  a:first-child > li {
    border-top: 2px solid $medGrey;
  };
  a:hover {
    color: $red;
  };
}
@media (min-width: 768px ) {
  .nav-list {
    margin-right: 0;
    margin-left: 0;
  };
}
@media (min-width: 992px ) {
  .nav-list {
    li {
      padding-left: 162px;
    };
  };
}
/* Tables ============================================= */
th.headerSortUp:after {
  content: "\2003 \25B2";
  font-size: .7em;
  color: $mutedGrey;
}
th.headerSortDown:after {
  content: "\2003 \25bc";
  font-size: .7em;
  color: $mutedGrey;
}
th.header {
  cursor: pointer; 
}
/* Blog =============================================== */
.blog-post {
  padding-bottom: 2em;
  border-bottom: 2px solid $medGrey;
}
.blog-date {
  margin-top: -5px;
}

/* Prettify polyfilled datetime-local and date fields */
.datetime-local-datepicker-button {
  margin-right: 0.5em;
}