<% if user_signed_in? %>
	<% unless current_user.flagged_events.is_today.size == 0 %>
		<div class="row">
			<%= link_to events_path(:favs => true) do %>
			<div class="event-list">
				Favourites <span class="badge pull-right">
				<%= current_user.flagged_events.is_today.is_near(session[:city]).size %></span>
			</div>
			<% end %>
		</div>
	<% end %>
<% end %>