<% if user_signed_in? %>
	<% unless current_user.flagged_events.size == 0 %>
		<div class="row">
			<%= link_to events_path(:favs => true) do %>
				<div class="category-list">
					Favourites
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>