</div>
<%= render 'pages/landing' %>
<div class="container">
<%= render 'favs' %>

<% @categories.each do |category| %>
	<div class="row category-row">
		<%= link_to events_path(:category_id => category.id) do %>
	  <div class="category-list">
	  	<%= category.name %>
		</div>
		<% end %>
	</div>
<% end %>